{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
{% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendario</title>
  <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
{% endblock head %}
{% block content %}
<div class="containerCupones">
    <h2 class="tituloCupones">Cupones Asignados</h2>
    {% for coupon in coupons %}
        <div class="coupon">
            <p>Código: {{ coupon.code }}</p>
            <p>Descuento: {{ coupon.discount }}%</p>
            <p>Asignado el: {{ coupon.created_at|date:"d/m/Y" }}</p>
        </div>
    {% empty %}
        <p class="SinCupones">No hay cupones asignados todavía.</p>
    {% endfor %}
    <div class="btnVolverContainer">
    <button class="btnVolverCupon" onclick="window.history.back()">Volver</button>
    </div>
</div>

{% endblock content %}
</html>
