{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
{% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendario</title>
  <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
{% endblock head %}

{% block content %}
  <div class="semicirculo"></div>
  <div class="semicirculo2"></div>
  <div class="calendar-container">
    <p class="calendar-title">SELECCIONA LA FECHA PARA TU RESERVA</p>

    <form method="post" action="{% url 'reservation_create_step2' %}" class="calendar-wrapper" 
        id ="calendar-form" >
  
      {% csrf_token %}
      {{ form.as_p }}
      
      <button type="submit" class="search-reserve-button" id="search-time">VER HORARIOS DISPONIBLES</button>
    </form>
  </div>
<script src="{% static 'js/calendarioScript.js' %}"></script>
{% endblock content %}
</html>