{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario de Reservas</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <div class="semicirculo"></div>
    <div class="semicirculo2"></div>
    <div class="titulo-container">
        <h1>Tus reservas</h1>
        <h2>Escoge una reserva para ver sus detalles</h2>
   
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Estado</th>
                <th>Detalles</th>            
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ reservation.name }}</td>
                <td>{{ reservation.date }}</td>
                <td>{{ reservation.time }}</td>
                <td>{{reservation.state}}</td>
                <td>
                    <a href="{% url 'reservation_detail' reservation.id %}" class="details-button">Detalles</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay reservas disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>