{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reserva</title>
  <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
  <div class="container">
    <h1>SELECCIONAR</h1>
    <p>Número de personas</p>
    <div class="buttons" id="buttons-container">
      <button class="numero">1</button>
      <button class="numero">2</button>
      <button class="numero">3</button>
      <button class="numero">4</button>
      <button class="numero">5</button>
      <button class="numero">6</button>
      <button class="numero">7</button>
      <button class="numero">8</button>
      <button id="plus-button">+</button>
    </div>
    <button class="search-button" id="search-reservation">BUSCAR RESERVA</button>
    <div id="selected-value"></div>
  </div>

  <div id="calendar-container" class="hidden">
    <label for="reservation-date">Seleccione una fecha:</label>
    <input type="date" id="reservation-date">
  </div>
  <!-- Modal -->
  <div id="modal" class="modal hidden">
    <div class="modal-content">
      <h2>Ingrese un Número</h2>
      <h3>Maximo de personas: 15</h3>
      <input type="number" id="modal-input" placeholder="Máximo 15">
      <button id="modal-confirm">Confirmar</button>
      <button id="modal-close">Cerrar</button>
    </div>
  </div>

  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>