{% extends 'base.html' %}
{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="es">
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo Gourmet</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock head %}

{% block content %}
    <div class="background-decor">
        <div class="semicirculo"></div>
        <div class="semicirculo2"></div>
    </div>

    <div class="container">
        <h1 class="titulo-centrado">Carta Gourmet</h1>
        <div class="catalogo">
            {% for producto in productos %}
                <div class="card">
                    {% if producto.imagen %}
                        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                    {% endif %}
                    <div class="contenido">
                        <h2>{{ producto.nombre }}</h2>
                        <p class="precio">${{ producto.precio|floatformat:0|intcomma }}</p>
                        <p class="descripcion">{{ producto.descripcion }}</p>
                        <span class="categoria">{{ producto.categoria }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
</html>
