{% load static %}

{% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

{% endblock head %}

{% block content %}
    
    <div class="semicirculo"></div>
    <div class="semicirculo2"></div>

    <div class="container">
        <h1>Bienvenido a Restaurante Gourmet</h1>
        <p>¡Disfruta de una experiencia culinaria única!</p>
        <div class="buttons">
            <a href="{% url 'lista_productos' %}"><button class="btn">C</button></a>
            <a href="{% url 'reservation_list' %}"><button class="btn">R</button></a>
        </div>
    </div>
{% endblock content %}