{% extends 'base.html' %}
{% load static %}


{% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
{% endblock head %}

{% block content %}

    <div class="semicirculo"></div>
    <div class="semicirculo2"></div>

    <div class="home-container">
        <h1 class="home-title">Bienvenido a <span>Restaurante Gourmet</span></h1>
        <p class="home-subtitle">¡Disfruta de una experiencia culinaria única!</p>
        <div class="buttons-home">
            <a href="{% url 'lista_productos' %}">
                <button class="btn-home">Ver Menú</button>
            </a>
            <a href="{% url 'reservation_list' %}">
                <button class="btn-home">Reservar</button>
            </a>
        </div>
    </div>
{% endblock content %}
