/* General */
body {
  background-color: #5C2A2A; /* Fondo marrón oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
}
.selected-value {
  font-size: 1.5em;
  color: white;
  margin-top: 20px;
}
/* Estilo para el semicírculo */
.semicirculo {
  position: absolute;
  bottom: -50px; /* Ajusta la posición vertical */
  left: -300px; /* Ajusta la posición horizontal */
  width: 600px; /* Ajusta el tamaño */
  height: 300px; /* La mitad del ancho para un semicírculo */
  background-color: rgb(130, 101, 101)   ; 
  border-top-left-radius: 300px; /* Radio para crear el semicírculo */
  border-top-right-radius: 300px; /* Radio para completar el semicírculo */
  z-index: -1; /* Asegura que el semicírculo esté detrás del texto */
}
.semicirculo2 {
  position: absolute;
  bottom: -50px; /* Ajusta la posición vertical */
  left: -250px; /* Ajusta la posición horizontal */
  width: 500px; /* Ajusta el tamaño */
  height: 250px; /* La mitad del ancho para un semicírculo */
  background-color: rgb(219, 173, 180)   ; 
  border-top-left-radius: 250px; /* Radio para crear el semicírculo */
  border-top-right-radius: 250px; /* Radio para completar el semicírculo */
  z-index: -1; /* Asegura que el semicírculo esté detrás del texto */
}
.container {
  text-align: center;
  color: white;
  position: absolute;
  z-index: 1; /* Asegura que el texto esté por encima del semicírculo */
}

.container h1 {
  font-size: 2em;
  color: white
}

.container p {
  font-size: 1.2em;
}

/* Botones numéricos */
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
  grid-template-columns: repeat(3, 1fr);
}

.buttons button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  font-size: 1.5em;
  margin: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  grid-template-columns: repeat(3, 1fr);
}

.buttons button:hover {
  background-color: white;
  color: #5C2A2A;
}

/* Botón de búsqueda */
.search-button {
  background-color: white;
  color: #5C2A2A;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.search-button:hover {
  background-color: #5C2A2A;
  color: white;
  border: 2px solid white;
}


#selected-value {
  margin-top: 20px;
  font-size: 1.2em;
}

/* Modal: donde se va a escribir el numero si la reserva es muy grande */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
  margin: 0 0 10px;
}

.modal-content button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #5C2A2A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.modal-content button:hover {
  background-color: white;
  color: #5C2A2A;
  border: 2px solid #5C2A2A;
}

.modal-content input {
  margin-top: 10px;
  padding: 10px;
  font-size: 1em;
  width: 80px;
  text-align: center;
  border: 2px solid #5C2A2A;
  border-radius: 5px;
}
/* Estilo para el calendario que aparece después de escoger numero de personas */

.calendar-container {
  text-align: center;
  background-color: #FFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 300px;
  display: grid;
  place-items: center;
}

.calendar-title {
  font-size: 1.5em;
  color: #5C2A2A;
  margin: 0;
}

.calendar-subtitle {
  font-size: 1.2em;
  color: #5C2A2A;
  margin: 5px 0 20px;
}

.calendar-wrapper input[type="date"] {
  font-size: 1em;
  padding: 10px;
  width: 100%;
  border: 1px solid #DDD;
  border-radius: 5px;
  background-color: #F9F9F9;
  color: #333;
  text-align: center;
  display: grid;
  place-items: center;
}


.search-reserve-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: maroon;
  color: #FFF;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-reserve-button:hover {
  background-color: #752D2D;
}
/* Estilo para la selección de hora */

.background {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffff;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #ffff;
}

.time-slots {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px;
  margin-bottom: 20px;
}

.time-button {
  background-color: white;
  color: maroon;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.time-button:hover {
  background-color: maroon;
  color: white;
}

.search-reserve {
  background-color: white;
  color: maroon;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-reserve:hover {
  background-color: maroon;
  color: white;
}

/* Contenedor de la informacion del usuario */

.reservation-form {
  background-color: #7a3b3b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  text-align: center;
}

.reservation-form h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.reservation-form p {
  font-size: 14px;
  margin-bottom: 20px;;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: white;
}

.form-control {
  position: center;
  width: 95%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
}

.help-text {
  font-size: 12px;
  color: #eee;
}

.btn {
  background-color: white;
  color: #7a3b3b;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e0e0e0;
}
.reservation-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  
}

.detail {
  text-align: center;
  flex: 1;
}

.detail h3 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.detail p {
  font-size: 15px;
  color: #ffffff;
  margin: 0;
}
/* estilo para reservation_list */
table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  
}
th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}
th {
  background-color: #e4e4e4;
  color: rgb(0, 0, 0);
}
td {
  background-color: transparent;
  color: rgb(255, 255, 255);
}
tr:nth-child(even) {
  background-color: transparent;
  color: white
}
tr:hover {
  background-color: #ae4545;
  color: white;
}
.details-button {
  padding: 5px 10px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 5px;
}
.details-button:hover {
  background-color: #b30000;
  color: white;
}
.titulo-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  align-items: center;
}
.titulo-container h1 {
  font-size: 2em;
  color: white;
  margin-bottom: 10px;
}
.titulo-container h2 {
  font-size: 1.5em;
  color: white;
  margin-bottom: 20px;
}
/*Estilo para reserva_details*/

.container {
    max-width: 800px;
    margin: 0 auto;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    
}
.buttons-containerDetails{
  display: flex; /* Crea una disposición horizontal */
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px;
}
.buttons-containerDetails button{
    background-color: white;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
    text-align: center;
    color: #333;
}
.details {
    margin: 20px 0;
}
.details p {
    font-size: 18px;
    margin: 5px 0;
}
.actions {
    text-align: center;
    margin-top: 20px;
}
.actions button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.confirm-button {
    background-color: white;
    color: black;
}
.confirm-button:hover {
    background-color: #972a2a;
    color: white;
}
.finish-button {
    background-color: white;
    color: black;
}
.finish-button:hover {
    background-color: #972a2a;
    color: white;
}
.cancel-button {
    background-color: white;
    color: black;
}
.cancel-button:hover {
    background-color: #972a2a;
    color: white;
}
.modify-button {
    background-color: white;
    color: black;
}
.modify-button:hover {
    background-color: #972a2a;
    color: white;
}
.back-button {
    background-color: #6c757d;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}
.back-button:hover {
    background-color: #5a6268;
}

.hidden {
  display: none; 
}