{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
{% block head %}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock head %}

{% block content %}
    <div class="background-decor">
        <div class="semicirculo"></div>
        <div class="semicirculo2"></div>
    </div>

 <div class="container">   
    <h2>Registro de Usuario</h2>
    <form method="post">
    {% csrf_token %}
    {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}<br>
            {% if field.errors %}
                <span style="color:red">{{ field.errors }}</span>
            {% endif %}
            <!-- No mostrar help_text -->
        </p>
    {% endfor %}
    <button type="submit">Registrarse</button>
</form>
 </div>
{% endblock content %}
</html>